*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.pc{
    color:burlywood
}

a {
    text-decoration: none;
}

.container{
    max-width: inherit;
    margin: auto;
}
nav{
    background:rgb(104, 101, 101);
    color:white;
    overflow:auto;
}

nav ul{
    float: right;
    list-style-type: none;
}

nav a{
    color: white;
}

nav ul li a{
    display: inline-block;
    padding: 20px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    animation-name: links;
    animation-duration: 3s;animation-timing-function: ease-in;

    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.current{
    background:gray;
    color:burlywood;
}

nav ul li a:hover{
    background:gray;
    transform: rotateY(360deg);
}
.container .menu .logo{
    float: left;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
}

@keyframes links{
    0% {opacity: 0}
    100% {opacity: 1}
}

.middle {
    background-image:url("/img/showcase.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
    height:600px;
    font-family: 'Cinzel', serif;
    display: flex;
    flex-flow: row wrap;

}

.imgtxt{
    padding-top: 170px;
    text-align: center;
    color:white;
    line-height: 1.2em;
    position: relative;
    margin: auto;
    animation-name: txt;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}

@keyframes txt{
    0% {left: -2000px}
    100% {left: 2vw }
}

.imgtxt h1{
    font-size: 60px;
    line-height: 1.2em;
}

.imgtxt p{
    font-size: 25px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: black;
    background:burlywood;
    border:none;
    cursor: pointer;
    margin: auto;
    padding:10px 10px;
    position: relative;
    opacity:0;
    animation: btn 4s ease-in 3s forwards;
    border-radius: 50%;
}

.btn a{
    color:black;
    font-size: 20px;
}

.btn:hover{
    background: white;
}

@keyframes btn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}


.twbl{
    height:400px;
}


.fbl{
    float:left;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
    background: gray;
    font-family: 'Cinzel', serif;
}
.twbl .fbl p{
    padding-bottom: 30px;
    padding-top: 30px;
    color: white;

}

.lbl{
    background:url(/img/photo-1.jpg) no-repeat;
    float: right;
    width:50%;
    min-height:100%;
}

.twbl .fbl h2{
    color:white;
}

.btn2 a{
    color:black;
}

.btn2{
    display: inline-block;
    border:none;
    margin: auto;
    padding:10PX 10px;
    background-color: burlywood;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    animation: btn 4s ease-in 3s forwards;
}


.btn2:hover{
    background-color: white;
}

.clear{
    clear: both;
}

i {
    color:red;
}

.bottom{
    display: flex;
    height:100%;
    text-align: center;
    font-family: 'Cinzel', serif;
    color:black;
    

}

.loca{
    margin: auto;
    padding: 50px 15px;


    
}

.meal{
    background-color: burlywood;
    margin: auto;
    padding: 50px 15px;

}

.fitness{
    margin: auto;
    padding: 50px 15px;
}

.bottom p{
    margin-top: 25px;
}